.search-list-stock{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white ;
    /* text-decoration: none; */
    z-index: 7;
    margin: 5px 0;
    padding:5px;
    border-radius: 3px;
    /* color:#001b39; */
}

.search{
    color:#001b39;
    text-decoration:none;
    padding:5px;
}
.search:hover{
    color: white;
    background-color: blue;
    border-radius: 2px;
}