.search-list-stock-x{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff ;
    /* text-decoration: none; */
    z-index: 9;
    width: 100%;
    max-width: 800px;
    margin: 5px 0;
    padding:5px;
    border: 6px dotted #459ff0 ;;
    max-height: 200px;
    border-radius: 3px;
    overflow-y: scroll;
    /* transform: translateX(100px) translateY(-100px); */
    /* height:400px; */
    /* color:#001b39; */
}

.search-selection{
    color:#001b39;
    text-decoration:none;
    padding:5px;
}
.search-selection:hover{
    color: white;
    background-image: linear-gradient(-36deg, blue 0%, #459FF0 100%);
    border-radius: 2px;
}
.search-field{
    border-radius: 5px;
    height:30px;
    max-width: 800px;
    width: 100%;
}
.search-filter{

    padding:2rem ;
}
.search-input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;

}
.fa-search{
    color:#001b39;
}