.deleteConfirm {
    display: flex;
    flex-direction: column;
    border: solid black;
    align-items: center;
    border-radius: .4em;
    width: 5em;
}

.noDelete {

    background-color: grey;
}

.yesDelete {
    background-color: #FF5A5F;
    width:100%;
}

.noDelete {
    width: 100%;
}

.deleteConfirmBg {
    background-color: rgba(0, 0, 0, 0);

}
