.watchlist_entry {
    display:flex;
    gap:3em

}

.company_name {
    width: 13em;
}

.ticker {
    width: 4em;
}

.price {
    width:4em;
}

/* .watchlistContainer {
    display: flex;
    flex-direction: column;
    gap: 4em
} */
