.watchlist_entry {
    display: flex;
    /* border: 1px solid lightgray; */
    width: 100%;
    max-width: 800px;
    justify-content: space-around;
    align-items: center;
}

.populatedWatchlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap:1rem;
}

.watchlist_entryBg {
    background-color: rgba(0, 0, 0, 0.0);


}

.company_name {
    max-width: 100px;
    width: 100%;
    word-wrap: break-word;
    /* width: 20%; */
    /* padding-left: 2% */
}

.watchlistTicker {
    max-width: 65px;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    border-left: 1px solid slategray;
    border-right: 1px solid slategray;
}

.price {
    min-width: 40px;
    /* width: 10%; */
    padding-left: 2%
}

.watchlistContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width:max(100%, 200px);
    height:90vh;
    /* justify-content: center; */
    align-items: center;

}
.watchlistOuterDiv, .watchlistInnerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: min(100%, 200px); */
    width: 100%;
}

.watchlistSelect {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    /* width: max(100% ,800px); */
}




.watchlistAddStock {
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.watchlistSubmit:hover {
    cursor: pointer;
}


.deleteWatchlist {
    cursor: pointer;
    /* margin:0; */
    /* padding:0; */
    /* width: min(100%, 800px); */
    width: 100%;
}

select:hover {
    cursor: pointer;
}

#selectWatch {
    width: 100%;
    /* max-width: 200px */
}

.watchlistAddList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 800px;
    /* width: max(100%, 800px); */
}

.deleteWatchlistDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 800px;
}
.watchlistSelectDiv{
    width: 100%;
    max-width: 800px;
}

.watchlistStocks{
    max-width: 800px;
    width: 100%;
    gap:1rem;

}
.watchlistInput{
    width:99%;
    max-width: 800px;
}