/* TODO Add site wide styles */
*{
    font-family:OpenSans-Regular,PingFangSC-Regular,Arial,Helvetica,Microsoft YaHei,sans-serif
}

body{
    /* width: 100%; */
    /* display: flex; */
    /* min-height:100vh; */
    margin: 0;
    justify-content: center;
}
#root{
    /* margin-bottom:80px; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
    padding: 0;
    position: relative;
    background-color: azure;

    /* justify-content: space-between; */
    /* align-items: center; */
}
input{
    width: 100%;
}
video{
    /* height:fit-content; */
    object-fit: cover;
}