.cont{
    background: cover;
    background-color: blue;
    color: white;
}

.title{

    font-size: 30px;

}
.title:hover{
    cursor: pointer;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bigText{
    width: 40%;
    font-size: 38px;
}

.join{
    font-size: 24px;
    opacity: .9;
}
.fees{
    font-size: 20px;
    opacity: .5;
}

.loginImage{
    margin-top: 30px;
    width: 40%;
    height: 200px;
    opacity: .6;
}

.navLogo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 70px;
}

.webear-logo:hover{
    cursor: pointer;
}
