.dashboard-container-div{
    display:flex;
    height:100vh;
    max-width: 100%;
    width:auto;
    border: 1px solid #b7b7b7;
}
.dashboard-watchlist{
    /* max-width:200px; */
    /* width:100%; */
    padding:10px 10px;
    max-height: 50vh;
    height:100%;
    overflow-y: scroll;

}
.dashboard-home-link,.watchlist-navlink,.portfolio-navlink{
    display:flex;
    flex-direction: column;
    max-width: 60px;
    width:40px;
    padding:50px 10px;
    
    /* height:40px; */
    /* justify-content: center; */
    /* align-items: center; */
}

.dashboard-nav{
    /* display: flex; */
    background-color: #292F4F;
    max-width: 60px;
    max-height:100vh;
    height: 100%;
    border: 1px solid #b7b7b7;

}

.watchlist-container-div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding:0 10px; */

    width:20%;
    border-right: 1px solid #b7b7b7;
}
.charts-and-portfolio-div{
    /* margin:0 10px; */
    /* padding:0 10px; */
    width:80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* border: 1px solid black; */
    
}
.charts-container-div{
    padding:10px;
    height:60vh;
    margin:0;
    /* border-bottom: 1px solid #292F4F; */
}
.dashboard-profile-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-portfolio{
    padding:10px;
    max-height: 40vh;
    height:100%;
    border-top:1px groove #b7b7b7 ;
    overflow-y: scroll;
}
.dashboard-transactions{
    padding:10px;
    border-top:1px groove #b7b7b7 ;
    /* max-height: 40vh; */
    height:100%;
    overflow-y: scroll;

}

/* .dashboard-portfolio-component{
    height:40vh;
 
} */