.signupFormClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.signupEmail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.signupFirst{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.signupLast{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.signupUsername{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.signupPassword{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.signupConfirmPassword{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.signupHeader{
    /* margin-left: 120px; */
    margin:2rem 0;
    padding:0;
}
.signupBotCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.signupInput{
    border: 1px gray solid;
    border-radius: 15px;
    height: 30px;
}
.signupButton{
    width: 500px;
    height: 35px;
    background-color: blue;
    border-radius: 20px;
    color: white;
}
.signupDOB{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.signup-bottom{
    margin-bottom: 2rem;
}
