.portfolio-victory-chart {
    max-width: 100%;

}

#select-duration-div {
    display: flex;
    /* position: absolute; */
    max-height: 1em;
    align-items: center;
}

#selectDuration {
    margin: 10px;
}

.charts-container-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
